{% from "../macros/side-navigation.njk" import sideNavigation %}

{% macro nav(active) %}
  {{ sideNavigation([
    {
      name: "About GOV.UK One Login",
      description: "about",
      href: "/about"
    },
    {
      name: "How a user's account changes over time",
      description: "account-lifecycle",
      href: "/about/account-lifecycle",
      isChild: true
    },
    {
      name: "Signing users in",
      description: "signing-users-in",
      href: "/about/signing-users-in",
      isChild: true
    },
    {
      name: "Checking users' identities",
      description: "checking-users-identities",
      href: "/about/checking-users-identities",
      isChild: true
    },
    {
      name: "Proving identity",
      description: "proving-identity",
      href: "/about/checking-users-identities/evidence-types",
      isChild: true
    },
    {
      name: "Managing a One Login account",
      description: "managing-a-one-login-account",
      href: "/about/signed-in-experience",
      isChild: true
    },
    {
      name: "Roadmap",
      description: "roadmap",
      href: "/about/roadmap"
    }
  ], active) }}
{% endmacro %}
